@font-face {
  font-family: "Tbc-light";
  src: url("./assets/fonts/file.woff2") format("woff2");
}

@font-face {
  font-family: "Tbc-medium";
  src: url("./assets/fonts/file1.woff2") format("woff2");
}

@font-face {
  font-family: "Tbc-bold";
  src: url("./assets/fonts/file3.woff2") format("woff2");
}

@font-face {
  font-family: "Tbc-extrabold";
  src: url("./assets/fonts/file2.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Tbc-medium", Arial, sans-serif;
}
:root {
  --bgcolor: RGB(43, 43, 43);
  --headbg: RGB(26, 30, 31);
  --coursescolor: RGB(22, 22, 22);
  --textcolor: rgb(244, 244, 244);
  --btncolor: #00aeef;
}
a {
  text-decoration: none;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--headbg);
  padding: 20px;
  width: 100%;
}
.movingmobileheader {
  transition: all 0.3s ease-in;
  position: fixed;
  opacity: 0.8;
}
.navbar {
  display: none;
}
.menu-icon {
  width: 26px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  transition: all 0.33s ease-out;
}
.hamburger-half {
  width: 50%;
  background-color: aliceblue;
  height: 3px;
  transition: transform 0.33s ease-out;
  border-radius: 20px;
}
.hamburger-full {
  width: 100%;
  background-color: aliceblue;
  height: 3px;
  transition: transform 0.33s ease-out;
  border-radius: 20px;
}
.left {
  align-self: flex-end;
}
.rotate {
  transform: rotate(-45deg);
  transition: transform 0.33s ease-out;
}
.rotatearrow {
  transform: rotate(180deg);
  transition: transform 0.33s ease-in-out;
}
.rotate-top {
  transform: translate(2px, 3px) rotate(-135deg);
  transition: transform 0.33s ease-out;
}
.rotate-bottom {
  transform: translate(-2px, -3px) rotate(-135deg);
  transition: transform 0.33s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgcolor);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.33s ease-out;
}

li {
  color: white;
  list-style: none;
}
.burger-menu {
  right: -100%;
  position: fixed;
  top: 76px;
  height: 100vh;
  width: 70%;
  background-color: var(--bgcolor);
  transform: translateX(100%);
  transition: all 0.33s ease-in-out;
  overflow-y: auto;
}
.choosed {
  color: var(--btncolor);
}
.burger-lists {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 25px;
  padding: 20px 10px 0px 0px;
}
.active {
  transform: translateX(0);
  right: 0;
}
.no-scroll {
  overflow: hidden;
}

.headline-section {
  background-image: url(./assets/93e8a3_9fa23196ddf6427a9da574e2b31a13d2~mv2.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px 50px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.intro-headline {
  color: rgb(244, 244, 244);
  line-height: 1.6em;
  font-size: 24px;
  font-family: "Tbc-extrabold", Arial, sans-serif;
}

.project-about {
  background-color: var(--bgcolor);
  padding: 32px 20px;
}
.project-about-content {
  color: rgb(244, 244, 244);
  line-height: 1.6em;
  font-size: 16px;
}
.more-btn {
  border: none;
  background-color: var(--bgcolor);
  color: #00aeef;
  font-weight: bold;
  margin-top: 30px;
}
.courses-container {
  display: flex;
  flex-direction: column;
  background-color: var(--coursescolor);
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
}

.courses-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}
.courses-headline {
  color: rgba(244, 244, 244, 1);
  font-size: 24px;
  width: 300px;
}
.course__headline {
  color: #f4f4f4;
  margin-top: 25px;
  font-size: 15px;
}
.course__img {
  width: 100%;
}
.course__text {
  padding-left: 15px;
}
.registration {
  color: rgb(244, 244, 244);
  margin: 20px 0px;
  font-size: 14px;
}
.course__details {
  color: #00aeef;
}
.course {
  border-width: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: rgba(85, 85, 85, 1) rgba(85, 85, 85, 1) rgba(85, 85, 85, 1)
    rgba(85, 85, 85, 1);
  border-radius: 6px 6px 6px 6px;
  margin-top: 20px;
  padding-bottom: 20px;
  max-width: 300px;
}
.partners-headline {
  color: var(--textcolor);
  font-size: 18px;
}
.slide-container {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0px;
  border: none;
}
.slide-container .slides {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
  overflow: hidden;
}
.slide-container .slides div {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.slidediv img {
  height: auto;
  max-width: 50vw;
}
.slide-container .slides div:not(.active) {
  top: 0;
  left: -100%;
}
span.next,
span.prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 14px;
  color: #eee;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  z-index: 1;
}
span.next {
  right: -100px;
}
span.prev {
  left: -100px;
}
span.next:hover,
span.prev:hover {
  background-color: #ede6d6;
  opacity: 0.8;
  color: #222;
}
.dots-container {
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}
.dots-container .dot {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
  border: 3px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.6s ease;
}
.dots-container .active {
  background-color: #555;
}
.partners {
  background-color: var(--bgcolor);
  padding: 20px;
}
.slidediv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
}
.next,
.prev {
  display: none;
}
@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
.slide-animation {
  animation: next1 0.5s ease-in forwards;
}
.next2-animation {
  animation: next2 0.5s ease-in forwards;
}
.faq {
  background-color: var(--coursescolor);
  padding: 40px 20px;
  transition: all 0.3s ease-in-out;
}
.faq-btn-cont-desk {
  display: none;
}
.faq-headline {
  color: var(--textcolor);
  font-size: 20px;
}
.faq-question {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--coursescolor);
  padding: 20px 0px;
  color: var(--textcolor);
}
.faq-content {
  border-bottom: 1px solid rgb(53, 49, 49);
}
.faq-answer {
  color: var(--textcolor);
  margin-bottom: 10px;
}

.closed {
  display: none;
}
.faq-btn {
  border: none;
  background-color: var(--coursescolor);
  color: var(--btncolor);
  font-weight: bold;
}
.faq-btn-cont-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 30px;
  padding: 30px 15vw 30px 15vw;
  background-color: var(--headbg);
  flex-wrap: wrap;
}
.indented-text {
  padding-left: 15px;
}
.footer-btn {
  border: none;
  background-color: var(--btncolor);
  color: var(--textcolor);
  padding: 10px 12px;
  border-radius: 5px;
}
.footer-company-logo {
  max-width: 150px;
}
.fb-logo,
.yt-logo {
  max-width: 40px;
}
.footer-logos {
  display: flex;
  column-gap: 70px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.social-logos {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.footer-agreenmant,
.footer-copyright {
  color: var(--textcolor);
  display: flex;
}
.footer-top {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* margin: 20px 0px; */
  display: inline;
}

@media (min-width: 780px) {
  .faq-headline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .faq-btn-cont-desk {
    display: block;
  }
  .navbar {
    display: block;
  }
  .menu-icon,
  .faq-btn-cont-mobile {
    display: none;
  }
  .nav-lists {
    display: flex;
    column-gap: 20px;
  }
  .main-header {
    padding: 2vh 15vw;
    position: fixed;
  }
  .movingheader {
    opacity: 0.8;
  }
  .headline-section {
    padding: 25vh 15vw;
  }
  .intro-headline {
    font-size: 42px;
  }
  .courses-headline {
    font-size: 24px;
  }
  .course__headline {
    font-size: 18px;
  }
  .project-about-content {
    font-size: 28px;
  }
  .more-btn {
    font-size: 22px;
  }
  .project-about {
    padding: 5vh 15vw;
  }
  .courses-container {
    padding: 5vh 15vw;
  }
  .courses-list {
    justify-content: flex-start;
  }
  .slidediv {
    flex-direction: row;
    column-gap: 80px;
  }
  .slidediv img {
    max-width: 15vw;
    height: auto;
  }
  .partners {
    padding: 1vh 15vw;
  }
  .faq {
    padding: 3vh 15vw;
  }
  .footer {
    padding: 3vh 15vw;
    display: block;
  }
  .next,
  .prev {
    display: block;
  }
  .footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-logos {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
